<div class="cards">
    <figure class="card">
        <img src="../img/dog.jpg" alt="img-1">
        <figcaption>Dog</figcaption>
    </figure>
    <figure class="card">
        <img src="../img/human.jpg" alt="img-2">
        <figcaption>Human</figcaption>
    </figure>
    <figure class="card">
        <img src="../img/candle.jpg" alt="img-3">
        <figcaption>Candle</figcaption>
    </figure>
    <figure class="card">
        <img src="../img/lines.JPG" alt="img-4">
        <figcaption>Lines</figcaption>
    </figure>
    <figure class="card">
        <img src="../img/shadow.JPG" alt="img-5">
        <figcaption>Shadows</figcaption>
    </figure>
    <figure class="card">
        <img src="../img/shadow.JPG" alt="img-6">
        <figcaption>Shadow</figcaption>
    </figure>
</div>
